
/*---- @fontface -- Typography -- Styling---*/

@font-face {
    font-family: 'bebasregular';
    src: url('myfonts/BEBAS___-webfont.eot');
    src: url('myfonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
    url('myfonts/BEBAS___-webfont.woff') format('woff'),
    url('myfonts/BEBAS___-webfont.ttf') format('truetype'),
    url('myfonts/BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*---- body -- html -- styling ---*/
body {
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;

}

/*---- Container, DIV -- Styling---*/

#login_form {
    width: 50%;
    background-color: #F1654C;
    margin: 15% auto;
    padding: 2%;
    border-radius: 10px;
    border: 4px solid #F1654C;

}

/*---- Header, h1, h2, p, footer -- Styling---*/

h1 {
    font-family: 'Bebas', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#login_form h1{
    text-align: center;
    padding: 1%;
    margin: 0 auto;
}

footer {
    background-color: #3E4651;
    border: 1px solid #3E4651;
    color: #d4d4d4;
    text-align: center;
    padding: 5%;
}
/*---- Navigation, ul, li, a -- Styling---*/


.navbar, .navbar-inverse {
    border-radius: 0;
    background-color: #3E4651;
    color: #d4d4d4;
    border: 1px solid #3E4651;
    width: 100%;
    margin: 0 auto;
}
.navbar-inverse .navbar-brand {
    color: #F1654C;
}
#menu {
    padding: 0;
    margin: 0 auto;
}
 #img_log {
     margin: 1%;
     padding: 0;
 }
#logo {
    margin: -12px 0;
}

#menu>#logo a:hover{

}

a.dropdown-toggle:hover#img_log {
     background-color: transparent;
 }

 #menu a:hover{
     color: #fff;
     background-color: #F1654C;
     -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
     -o-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out;
 }
#dropdown {
    padding: 0;
    margin: -5px;
}
#dropdown>a:hover {
    background-color: transparent;

}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: transparent;
}

/*---- Form, Input, & Button -- Styling---*/


input, form>a {
    width: 95%;
    display: inline;
    padding: 4% 1%;
    margin: 2% 3%;
    border: none;
    border-radius: 3px;
    color: #3E4651;
    text-transform: uppercase;
    font-family: "Helvetica", Arial, sans-serif;
    font-size: .75em;
    letter-spacing: 2px;
    text-decoration: none;
    text-emphasis: dot;
}

input:hover {
    background-color: #C5D8D7;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

}

input[type="submit"]  {
    background-color:  #8B949E;
    text-align: center;
    border-radius: 1px;
    border: none;
    color: #fff;
    text-transform: uppercase;
}
input[type="submit"]:hover {
    background-color: #d4d4d4;
    color: #3E4651;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
form a {
    color: #ffffff;
    display: block;
    width: 95%;
    background-color: #3E4651;
    text-align: center;
}

form a:hover {
    background-color: #d4d4d4;
    text-decoration: none;
    color: #3E4651;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

input[type="text"], input[type="password"] {
    display: block;
    padding-left: 1%;
    border-radius: 3px;

}
form {
    margin: 0;
}



/*---- MEDIA --- QUERIES ----*/

@media only screen and (max-width: 680px) {
    h1 {
        font-size: 2em;
    }
    h2.section-title, .subtitle {
        font-size: 2em;
        line-height: 2.25em;
    }
    #login_form {
        width: 70%;
        margin: 0 auto;
        padding: 1%;

    }
}

@media only screen and (max-width: 540px) {

    #login_form {
        width: 90%;
        margin: 0 auto;
        padding: 1%;
    }

}
@media only screen and (max-width: 480px) {
    h1 {
        font-size: 2em;
    }

    #login_form {
        width: 90%;
        margin: 0 auto;
        padding: 1%;

    }

}

@media only screen and (max-width: 360px) {


}