
/*---- @fontface -- Typography -- Styling---*/

@font-face {
    font-family: 'bebasregular';
    src: url('myfonts/BEBAS___-webfont.eot');
    src: url('myfonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
    url('myfonts/BEBAS___-webfont.woff') format('woff'),
    url('myfonts/BEBAS___-webfont.ttf') format('truetype'),
    url('myfonts/BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Learning Curve';
    src: url('myfonts/LearningCurve_OT-webfont.eot');
    src: url('myfonts/LearningCurve_OT-webfont.eot?#iefix') format('embedded-opentype'),
    url('myfonts/LearningCurve_OT-webfont.woff') format('woff'),
    url('myfonts/LearningCurve_OT-webfont.ttf') format('truetype'),
    url('myfonts/LearningCurve_OT-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*---- body -- html -- styling ---*/
body {
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;

}

/*---- Container, DIV -- Styling---*/

#login_form {
    width: 50%;
    background-color: #F1654C;
    margin: 15% auto;
    padding: 2%;
    border-radius: 10px;
    border: 4px solid #F1654C;

}
.container {
    width: 80%;
    padding: 2%;
    margin: 0 auto;
}

.paragraph.container {
    padding: 5% 2% 20%;
}
.container-fluid {
    width: 100%;
    padding: 0;
}
.well {
    padding: 0;
    margin: 0;
    border: none;
}
#home .jumbotron {
    background: url("/assets/images/espresso_machine.jpg") no-repeat center fixed;
    border: none;
    height: 30%;
    border-radius: 0;
    width: 100%;
    margin: 0 auto;
    padding: 10% 3%;
    text-align: center;

}


/*---- Header, h1, h2, p, footer -- Styling---*/

h1, h3 {
    font-family: 'Bebas', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

h2 {
    font-family: 'Learning Curve','Pacifico', "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    color: #ffffff;
    text-align: left;
    text-shadow: 1px 1px 1px #222;
    font-size: 3em;
    padding: 2% 3% 1%;
}

h3 {
    font-size: 2em;
    letter-spacing: 3px;
    text-align: center;
    padding: 1%;
    margin: 3% auto;
    color: #3E4651;


}
#login_form h1{
    text-align: center;
    padding: 3%;
    margin: 0 auto;
}


p, a {
    font-family: 'Avenir', cursive;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: .75em;
    padding: 0 3%;
}

footer {
    color: #ffffff;
    text-align: center;
    padding: 2%;
    margin: 0 auto;
    background: url("/assets/images/espresso_machine.jpg") no-repeat center fixed;

}

#home p, #home a {
    font-size: 2em;
    text-transform: none;
}

#home h1 {
    color: #ffffff;
    font-size: 5em;
    text-align: center;
    text-shadow: 4px 2px 2px #3E4651;
    padding: 2%;

}

#home h4 {
    font-size: 5em;
    text-align: center;
    padding: 1%;
     color: #d4d4d4;


}
#login_form h4 {
    padding: 3%;
    font-size: 4em;
    color: #ffffff;

}

#home h4, #login_form h4 {
    font-family: 'Learning Curve','Pacifico', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px #222;

}

#bye h1 {
    text-align: center;
    padding: 2%;

}

#bye img{
    position: relative;
    padding: 5% 10% 10%;
}

form h3 {
    font-size: 1em;
    color: #d4d4d4;
    padding: 0 3%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: none;
    text-align: left;
    letter-spacing: 1px;


}
footer h1 {
 padding: 3%;
 text-shadow: 4px 2px 2px #3E4651;
 letter-spacing: 2px;
 margin: 0 auto;
}

span.uname  {
    text-transform: capitalize;
}
/*---- Navigation, ul, li, a -- Styling---*/


.navbar {
    border-radius: 0;
    color: #F1654C;
    width: 100%;
    margin: 0 auto;
    padding: 0 5%;
    background: transparent;
    border: none;
}
.navbar-inverse .navbar-brand {
    color: #F1654C;
}
#myNav {
    background: transparent;
}
#menu {
    padding: 0;
    margin: 0 auto;
    width: 70%;
}

#img_log {
    margin: 1%;
    padding: 0;
}
#logo {
    margin: -12px 0;
}


a.dropdown-toggle:hover#img_log {
    background-color: transparent;
}

#menu li>a:hover{
    color: #fff;
    background-color: #F1654C;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
#dropdown {
    padding: 0;
    margin: -5px;
}

/*.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {*/
    /*background-color: #d4d4d4;*/
/*}*/

#myNav a {
    font-family: "bebasregular", Arial, sans-serif;
    letter-spacing: 3px;
    color: #F1654C;
}
/*---- Form, Input, & Button -- Styling---*/

input, form>a, #btn {
    width: 95%;
    display: inline;
    padding: 4% 1%;
    margin: 2% 3%;
    border: none;
    border-radius: 3px;
    color: #3E4651;
    text-transform: uppercase;
    font-family: "Helvetica", Arial, sans-serif;
    font-size: .75em;
    letter-spacing: 2px;
    text-decoration: none;
    text-emphasis: dot;
}

input:hover {
    background-color: #C5D8D7;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

}

input[type="submit"], {
    background-color:  #d4d4d4;
    text-align: center;
    border-radius: 1px;
    border: none;
    color: #fff;
    text-transform: uppercase;
}
input[type="submit"]:hover,  {
    background-color: #3E4651;
    color: #d4d4d4;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

input[type="button"] {
    background-color: #00B5B5;
    color: #ffffff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

}

input[type="button"]:hover {
    background-color: #ffffff;
    color: #222;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

}
input[type="checkbox"] {
    margin: 3%;
}
form a, #btn  {
    color: #ffffff;
    display: block;
    width: 95%;
    background-color: #3E4651;
    text-align: center;
}

form a:hover, #btn:hover  {
    background-color: #d4d4d4;
    text-decoration: none;
    color: #3E4651;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}


input[type="text"], input[type="password"] {
    display: block;
    padding-left: 3%;
    border-radius: 3px;
    font-size: 1em;
    letter-spacing: 2px;

}

input[type="text"]:hover, input[type="password"]:hover {
    background-color: #e2e2e2;
}

/* ---- CAROUSEL --- */

.carousel,.item,.active{
    height: 100%;
    padding: 0;
}
.carousel-inner{
    height: 100%;
}

.carousel-control {
    top: 50%;
    bottom: 50%;
    font-size: 5em;
    background-color: transparent;
    color: #ffffff;
}
.images{
    height:100%;
    margin: 0 auto;
}

/* faster sliding speed */
.carousel-inner > .item {
    -webkit-transition: 0.3s ease-in-out left;
    -moz-transition: 0.3s ease-in-out left;
    -o-transition: 0.3s ease-in-out left;
    transition: 0.3s ease-in-out left;
}
 #myCarousel {
     margin: 1% 0 15% ;
     background-color: #fff;
 }
/* keep full widget on smaller screens */
@media (max-width: 767px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }
}

/*---- MEDIA --- QUERIES ----*/

@media only screen and (max-width: 680px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 2em;
    }

    #login_form {
        width: 80%;
        margin: 15% auto;
        padding: 3%;

    }
}

@media only screen and (max-width: 540px) {

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    #login_form {
        width: 80%;
        margin: 15% auto;
        padding: 3% 1%;
    }
    input[type="text"], input[type="password"]  {
        font-size: .7em;
    }

    .navbar-brand {
        max-width: 50%;
    }

}
@media only screen and (max-width: 480px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    input[type="text"], input[type="password"]  {
        font-size: .7em;
    }

    #login_form {
        width: 80%;
        margin: 15% auto;
        padding: 3% 1%;

    }

}

@media only screen and (max-width: 360px) {

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    input[type="text"], input[type="password"]  {
        font-size: .7em;
    }

    #login_form {
        width: 80%;
        margin: 15% auto;
        padding: 3% 1%;

    }
}